 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Carlos Andres Serrano, I’m 22 years old, I’m a design student, currently on my seventh semester at the Universidad de los Andes. Passionate about design and programming , at age 17 I decided to enter the world of interactive design and creation of visual experi- ences; Starting my first contact with the world of open source and self-thought, sources on the web are sufficient to explore , learn basics and start to dabble with own developments. I believe in the methodologies , but I'm not entirely rooted in them , I always try to find practical , agile and safe solutions for what I 'm developing .</p>
                </div>
                <div class="col-lg-4">
                    <p>At this moment I am research- ing a topic of personal interest, which is the virtual reality experiments changes con- sciousness to contact a non- ordinary world or hidden dimension , knowing that the world we call "objective" it’s a simply a way of perceiving reality. I will never stay at the simple thought or idea of things and generate them by a simple taste or aesthetic reason, all my work and research have a theoretical background, in which the practice is based in order to generate a user-centered experiences.I am open to all research topics that have to do with software development to create interactive experiences , from a smart phone to a dip in a visual space ; I love computers , learn for myself and my skills to be part of a community , contribute and learn, in order to continue making inroads in technology, the arts and design. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                </div>
            </div>
        </div>
    </section>